*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
    height: 80px;
    border-bottom: 1px solid black;
}

#logo,
 h1,
 h2, 
 h3, 
 h4, 
 h5, 
 h6 {
    font-family: "Lora", serif;
    font-weight: 600;

}

h1{
    font-size: 40px;
    margin-bottom: 24px;
}

h2{
    font-size: 32px;
    margin-bottom: 8px;
}

p{
    color: rgb(120, 120, 120);
    line-height: 170%;
}

section{
    padding-top: 64px;
    padding-bottom: 64px;
}

.container{
    height: 100%;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}

#logo{
    font-size: 26.094px;
    color: black;
    text-decoration: none;
}

.navlink{
    color: rgb(117, 116, 116);
    text-decoration: none;
}

#section1img{
    width: 50%;
    border-radius: 6px;
}

#section1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.button{
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-radius: 8px;
}

.Primarybutton{
    background-color: black;
    color: white;
}

.Secondarybutton{
    color: black;
    border: 1px solid black;
}
.ButtonHolder{
    margin-top: 32px;
}

#section2{
    background-color: rgb(213, 209, 209);
}

#achievementlist{
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.achievement{
    background-color: white;
    padding: 24px;
    border: 1px solid black;
    border-radius: 8px;
} 





